---
import Layout from '../layouts/Layout.astro'
import Logo from '../components/Logo.astro'
import MobileMenu from '../components/MobileMenu.jsx'
---

<Layout title="Welcome to Astro.">
	<header class="relative h-24 z-10 flex justify-between items-center px-6">
		<Logo />
		<MobileMenu client:visible />
	</header>
	<main></main>
	<footer></footer>
</Layout>
